.detail {
    height: auto;
    background: #fff;
}

.detail_top {
    height: 38px;
    width: 100%;
    background: #f8f8f8;
    position: absolute;
}

.deatail_cen {
    margin: 0 auto;
    width: 1200px;
    height: auto;
}

.deatail_cen_top {
    height: 38px;
}

.deatail_cen_top_box {
    position: absolute;
    height: 38px;
    line-height: 38px;
}

.deatail_cen_top_box a {
    font-size: 12px;
    color: #666;
}

.deatail_cen_box {
    height: 580px;
}

.deatail_cen_exhibition {
    width: 452px;
    height: 536px;
    display: block;
    float: left;
    margin-top: 10px;
    position: relative;
}

.exhbox {
    width: 452px;
    height: 452px;
    overflow: hidden;
}

.exhibition_big {
    height: 452px;
    width: 9999px;
    position: relative;
}

.exh_move {
    height: 452px;
    width: 9999px;
    position: absolute;
}

.smallf {
    height: 225px;
    width: 225px;
    opacity: 0.5;
    background: orange;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

.bigf {
    height: 450px;
    width: 450px;
    position: absolute;
    left: 460px;
    top: 0px;
    overflow: hidden;
    z-index: 10;
    display: none;
}

.bigimg {
    height: 900px;
    width: 900px;
    position: absolute;
    left: 0;
    top: 0;
}

.bigimg img {
    height: 900px;
    width: 900px;
    position: absolute;
}

.exhibition_big p {
    border: 1px solid #ddd;
    height: 450px;
    width: 450px;
    float: left;
}

.exhibition_big p img {
    height: 450px;
    width: 450px;
}

.exhibition_small {
    width: 439px;
    height: 73px;
    position: relative;
    overflow: hidden;
    margin-top: 11px;
}

.exhibition_small_top {
    width: 376px;
    height: 73px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.exhibition_small_top img {
    width: 60px;
    height: 60px;
    margin-right: 14px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.exhibition_small_top p {
    float: left;
    box-sizing: border-box;
}

.exhibition_small_active {
    border: 2px solid #fc002d;
}

.exhibition_small_bottom_left {
    position: absolute;
    cursor: pointer;
    left: 5px;
    bottom: 25px;
    font-size: 30px;
    color: #999;
}

.exhibition_small_bottom_right {
    position: absolute;
    cursor: pointer;
    right: 5px;
    bottom: 25px;
    font-size: 30px;
    color: #999;
}

.deatail_cen_introduce {
    width: 725px;
    height: 536px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    overflow: hidden;
}

.introduce_name {
    font-size: 16px;
    line-height: 26px;
    color: #333;
    margin: 10px 0;
    font-weight: 700;
}

.introduce_price {
    height: 80px;
    line-height: 80px;
    background: #f8f8f8;
    margin-top: 10px;
}

.introduce_price span {
    margin-right: 20px;
    font-size: 12px;
    color: #999;
}

.introduce_price .price_bold {
    font-size: 30px;
    font-weight: 700;
    color: #fc002e;
    display: inline-block;
}

.introduce_active {
    margin: 20px 0;
    height: 32px;
}

.introduce_num {
    width: 70px;
    display: inline-block;
}

.introduce_math p {
    display: inline-block;
    width: 20px;
    height: 30px;
    border: 1px solid #ddd;
    position: relative;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
}

.introduce_active div {
    display: inline-block;
}

.introduce_active span {
    margin-right: 20px;
    font-size: 12px;
    color: #999;
}

.introduce_btn {
    height: 44px;
    margin-top: 39px;
}

.introduce_btn p {
    width: 150px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    margin-left: 50px;
    background: #fc002d;
    color: #fff;
}